body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

.container {
    max-width: 800px;
}

.blockchain-container {
  display: flex;
  flex-direction: column;
}

.block-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.block-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: baseline;

}

.block-title {
    color: #007bff;
    margin-bottom: 0;
    font-size: 1.3em;
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.block-index-label{
  font-size: 0.8em;
   font-weight: bold;
  color: #6c757d;

}
.block-index {
 font-size: 1.3em;

}

.block-content p {
    margin-bottom: 10px;
}

.block-label {
    font-weight: bold;
    display: block;
}

.block-value {
    display: block;
}

.hash-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  word-break: break-all;

}

.hash {
    font-size: 0.9em;
    color: #6c757d;
}